.add-group-form {
    margin: 36px auto;
    max-width: max-content;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.add-group-input {
    margin-top: 2px;
    width: 100%;
}

.add-group-btn {
    margin-top: 24px;
    padding: 10px 48px;
    border-radius: 100px;
}