.edit-task-form {
    margin: 36px auto;
    max-width: max-content;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.edit-task-input {
    margin-top: 2px;
    width: 100%;
}

.edit-task-btn {
    margin-top: 24px;
    padding: 10px 48px;
    border-radius: 100px;
}

.variables-container {
    margin-top: 2em;
    
    display: flex;
    flex-direction: column;
}

.variables-container > .text-center {
    margin: 0 6em;
}

.variables-container > button {
    margin-top: .5em;
}

.variable {
    display: flex;
    align-items: center;
    gap: 8px;
}

.language-box {
    margin-top: 8px;

    display: flex;
    flex-direction: column;
    gap: 4px;
}