.user-list {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 800px;

    gap: 16px;
}

.user-list-header {
    align-items: center;
    gap: 8px;
}

.user-table {
    font-size: 24px;
}

.user-table td {
    padding-right: 16px;
}

.btns-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 8px;
}