.user-table {
    font-size: 24px;
}

.user-table td {
    padding-right: 16px;
}

.btns-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 8px;
}

.btns-container {
    display: flex;
}